body{
	margin: 0;
	padding: 0;
	background-color: lightgray;
	font-family: sans-serif;
}
nav{
	background-color: dimgrey;
}
nav>ul{
	float: right;
	margin: 5px;
	padding: 5px;
}
.menu>li{
	float: left;
	margin: 8px;
	padding: 8px;
}
article{
	margin: 20px;
	padding: 20px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
	line-height: 2em;
}
h2{
	color: dimgray;
}
.sign{
	color: gray;
}
.list{
	list-style: none;
}
div.picture{
	width: 220px;
	height: 220px;
	text-align: center;
	padding: 10px;
	margin: 10px 50px;
	border: 1px solid grey;
}
ol.rank{
	font-weight: bold;
}
table{
	width: 100%;
	border-collapse: collapse;
}
caption{
	text-align: left;
	font-weight: bold;
}
th,td{
	text-align: left;
	border: 2px solid lightgrey;
}
th{
	color: white;
	background-color: black;
}
td.total{
	font-weight: bold;
	background-color: lightgray;
}
aside{
	margin: 40px 40px 20px 20px;
	padding: 20px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
	line-height: 2em;
}
#title{
	font-size: 120%;
	font-weight: bold;
}
.formField{
	overflow: auto; 
	padding: 10px;
	margin-left: 300px;
}
label{
	min-width: 130px;
	float: left;
	text-align: right;
}
textarea{
	width: auto;
}
.button{
	width: 100%;
	background-color: blue;
	color: white;
	padding: 10px;
	border: 1px solid blue;
	border-radius: 5px;
}
footer p{
	background-color: black;
	color: white;
	height: 30px;
	padding: 30px;
	text-align: center;
}